Create new post:

<%= form_for (BlogPost.new, html: {class: } do |f| %>
<div>
  <!-- example for how to make changes to label -->
  <%= f.label :title, "FOO", class: "green" %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :author %>
  <%= f.text_field :author %>
</div>

<div>
  <%= f.label :content %>
  <%= f.text_area :content %>
</div>

<%= f.submit "Create Blog Post" %>
<% end %>
